<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808438231248-ijmgalig73stol8cudiacl04rgg4jo7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808438231248-ijmgalig73stol8cudiacl04rgg4jo7h</string>
	<key>API_KEY</key>
	<string>AIzaSyA_ln5SKjR7JuzZf_HJYfo5Gj_JPnmFWE0</string>
	<key>GCM_SENDER_ID</key>
	<string>808438231248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eschoolTeacher</string>
	<key>PROJECT_ID</key>
	<string>eschool-teacher-2d05c</string>
	<key>STORAGE_BUCKET</key>
	<string>eschool-teacher-2d05c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808438231248:ios:86d455365e277fc5aaeed5</string>
</dict>
</plist>